:root {
  --main-brand-rosu: #B82C2F;
  --main-bg-gri: #B21E23;
  --main-bg-alb: #ffff;
}

h1{
    font-size: 3.052rem;
}
h2{
    
    font-style: normal;
    font-weight: 800;
    font-size: 39.06px;
    line-height: 50px;
}
h3{
    font-size:1.953rem;
}
h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
}
p{
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.01em;
    line-height: 32px;
}
body{
    background-color: var(--main-bg-alb);
    
	margin: 0 auto !important; 
	float: none !important; 
    
}


html *{
    font-family: 'Epilogue';
    overflow-x: hidden;
    
}

/* butoane */

.button-servicii{
    background-color: var(--main-brand-rosu);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
    border-radius: 6px; 
    padding: 26px 40px 24px;
    font-size:0.875rem;
    font-weight: bold;
    
    
    color:var(--main-bg-alb);
    overflow-y: hidden;
    white-space: nowrap;
   text-align: center;
   width: 243px;
   height: 72px;
    
}
.button-servicii:hover{
    background-color: var(--main-brand-rosu);
    
}
.button-servicii span{
    font-weight: 900;
    font-size: 14px;
    line-height: 14.35px;
    overflow-y: hidden;
}


.buton-aboneaza{
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    border-radius: 6px;
    width :184px;
    height: 48px;
    background-color: transparent;
    color: white;

}

.buton-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    
    
}

.vertical-line{
     width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
     }

.buton-afla{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 16px 46px;
    margin: 10px 0px;
}

/* clase helper custom */


.full{
    width:100%;
}
.back{
    height:32px;
    width:32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-brand-rosu);
    border-radius: 100%;
    overflow: hidden;
}
.transparent{
    background-color: transparent;
}
.caret-custom{
    color:white;
}
.back-gri{
    background-color: var(--main-bg-gri);
    background-size: 100vw;
    
}
.padding{
    padding-left:190px;
    padding-right:190px;
    padding-top:20px;
    padding-bottom:20px;
}

.text-alb{
    color:white
}


.no-padding-top{
    padding-top:0px !important;
}

.ajustare-sus{
    margin-top: -350px;
}
.ajustare-sus-neocupam{
    margin-top: -390px;
}

.margin-top{
    margin-top: 60px;
}
.margin-bottom{
    margin-bottom: 60px;
}

.show-overflow{
    overflow: visible;
}

.border-buton{
    border-radius: 6px 6px 0px 0px;
    padding:5px;
    text-align: left;
}
.ajustare-sus-blog{
    margin-top: -120px;
}
.ajustare-sus-blog-text{
    margin-top: -180px;
}


.padding-text{
    padding:20px
}

.margin-text{
    margin-top:30px;
    margin-bottom:30px;
}

.no-top-margin{
    margin-top: 0px !important;
}

.back-alb{
    background-color: var(--main-bg-alb);
}







/* containere */


.card-avantaje * {
    overflow: hidden;
}

.central{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.centator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}

.centator-imagine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-drop-button{
    display: flex;
    
    justify-content: center;
    
}

.container-imagine{
    margin-left:101px;
    margin-right:101px;
}
.container-imagine img{
    margin-top:10px;
    margin-bottom:10px;
}

.row-direction{
    flex-direction: row;
    align-items: center;
}

.card-avantaje{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.card-avantaje > div{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    width: 25%;
    position: relative;
}

.border-right:after{
    content: '';
    width: 1px;
    height:8.5em;
    border-right: solid 1px #383A3C;
    opacity:0.25;
    position: absolute;
    right:0px;
    z-index: 1;
}


.elemente-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elemente-blog h2{
    max-width: 30%;
}
.border-intrebari{
    border: 1px solid rgba(56, 58, 60, 0.25);
}
.border-avantaje{
    border: 0px solid #F3D1BF;
}

.no-padding{
    padding:0px;
    padding-left:0px !important;
    padding-right:0px !important;
}


.setare-width{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    justify-content: center;
    padding-top:80px;
    padding-bottom:60px;
    
}

.caseta-servicii{
    
    max-width:391px;
    
    padding:3.75rem;
    background-color: white;
}

.container-aliniere-mijloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}
.container-aliniere-stanga{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
   
}

.blank-space{
    height:20vh;
    width: 100%;
}



.container-aboneaza{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid  rgba(252, 254, 255, 0.25);
;
    border-bottom: 1px solid  rgba(252, 254, 255, 0.25);
;
    padding-top:40px;
    padding-bottom:40px;

}

.input-container  input{
    height:48px;
    width: 384px;
}

.caseta-firma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    padding: 24px 32px;
    
    
}
.container-firme{
    display: flex;
    flex-direction: row;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.02), 0px 15px 15px rgba(0, 0, 0, 0.02);
    border-radius: 5px;

}
.container-firme hr{
    position: absolute;
    
    
    border:1px solid rgba(196, 196, 196, 0.25);
    

    
    
}
#caseta-firme{
    padding:16px;
    
}

/* text */




.first-text p{
    color: #383A3C; 
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.5;
    
}
.first-text h2{
font-style: normal;
font-weight: 800;
font-size: 48.83px;
line-height: 64px;

}
.first-text h6{
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);

    letter-spacing: 0.01em;
}

.first-text  div{
    position: absolute;
    
bottom:0;
left:0;

}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 1;
}

.border-avantaje-caseta{
    border: 1px solid #BFBCBC;
    border-radius: 5px;
}



/* CAROUSEL */
.container-blog {
  
    overflow: hidden;
    opacity:1;
    transition: opacity 3s ease-in-out;
    
}

.grayed-out{
   
    opacity:0.5;
    transition: opacity 3s ease-in-out;
    
}

.active{
    transition: opacity 3s ease-in-out;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}






.padding-carousel {
    padding:60px
}

.carousel-showmanymoveone .carousel-control {
   width: 4%;
   background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
   margin-left: 0;
}

.carousel-showmanymoveone .carousel-control.right {
   margin-right: 0;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
   display: none;
}

.carousel .item .col-xs-12 {
   padding: 0;
}

.carousel  i {
    overflow: hidden;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
   .carousel .item .col-xs-12:nth-last-child(-n+2) {
      display: none;
   }
}

@media all and (min-width: 768px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
   }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(33.333%, 0, 0);
      transform: translate3d(33.333%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-33.333%, 0, 0);
      transform: translate3d(-33.333%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media all and (min-width: 992px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -33.3%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left:  33.3%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(33.333%, 0, 0);
      transform: translate3d(33.333%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-33.333%, 0, 0);
      transform: translate3d(-33.333%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

.carousel-inner img{
    border-radius: 6px;
}

/* modificari bootstrap */

.dropdown-menu{
    position: relative;
    width: 100%;
    border:none;
    background-color: var(--main-bg-alb);
    box-shadow: none;
}

.dropdown {
    border-bottom:1px solid #BFBCBC;
    background-color: #FCF8F8;
}
.buton-dropdown  img{
    width: 60px;
    height: 60px;
}
.dropdown-menu{
    border-top:1px solid #BFBCBC;
}

.open{
    background-color: #FFFFFF ;
}

.btn{
    box-shadow: none;
    
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline:0px;
}

.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid white;
    
  }
.caret {
    border-bottom-width: 0;
    border-top: 4px solid white;
   
    
    
  }


#card-intrebari .dropdown-menu {
    border-top: 0px ;
}


.central-row span{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}


@media only screen and (max-width: 800px) {
  .nevazut-mobil{
    display: none !important;
}
.padding{
    padding:20px;
}
.container-aliniere-mijloc{
    padding:0px;
}
.back-gri-mobil{
    background-color: var(--main-bg-gri);
}

.container-aliniere-stanga{
    padding: 2px;
}
.elemente-blog{
    flex-direction: column;
   
}
.elemente-blog *{
    width: 70%;
}
.elemente-blog h2{
    margin-bottom: 60px;
    max-width: 100%;
}
.gri-back-mobil{
    background-color: var(--main-bg-gri);
}
.text-alb-mobil{
    color: white;
}


.setare-width{
    padding-top:20px;
    padding-bottom:50px;
}
.container-aboneaza{
    flex-direction: column;
}
.container-aboneaza h2{
    margin-bottom: 50px;
}

.input-container input{
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}

.buton-aboneaza{
    width: 100%;
}

.first-text{
    margin-top: 60px;
    height: fit-content;
}
.first-text div{
    position: relative;
}

.first-text-buton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-avantaje-caseta{
    border: 0px solid #BFBCBC;
    
}
.border-avantaje-caseta h2{
    margin-bottom:40px;
}
.text-alb-desktop{
    color: black;
}
/* bootstrap */ 

.dropdown{
    background-color: #FCFEFF;
}
.padding-mobil{
    padding:20px;
}
.container-imagine{
    margin-left: 5px;
    margin-right: 5px;
}
.invers-mobil{
    flex-direction: column-reverse;
   
}
.invers-mobil > *{
    margin-top:30px;
    margin-bottom:30px;
    width: 100%;
   
}
.container-firme{
    display: flex;
    flex-direction: column;
}
.central-row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
}
.container-firme hr{
    bottom:0;
   
    width: 100%;
}

}







@media only screen and (min-width: 800px) {
  .nevazut-desktop{
    display: none;
}
.ajustare-sus-firme{
    margin-top: 0px;
}
.ajustare-sus-blog{
    margin-top: 0px;
}
.ajustare-sus-blog-text{
    margin-top: 0px;
}
.white-back{
    background-color: var(--main-bg-alb);
    
}
.white-back > * {
    color:black
}
.central-row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.central-row span {
    margin:10px;
}
.text-alb-desktop{
    color: black;
}
.container-firme hr{
    right:0;
     height:90%;
}

 

}



